main {
  color: #ffffff;
  padding: 75px 200px 75px 200px;
}





/*============================== TITRES ============================== */
h1 {
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #695cfe;
}
h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* ==================================================================== */





/* ============================== TEXTES ============================== */
p {
  font-weight: 400;
  color: #c3c2cc;
  margin-bottom: 50px;
}
p a {
  color: #c3c2cc;
  border-bottom: 3px solid #695cfe;
}
p a:hover {
  color: #695cfe;
  border-bottom: 0px;
}
/* ==================================================================== */

@media screen and (max-width: 768px){
  main {
    padding: 5%;
  }
}
