/* ============================== BODY ============================== */
nav {
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: #1d2126;
    box-shadow: 0px 0px 2px #000000;
}
body.light nav {
    background-color: #fff;
}
/* ================================================================== */





/* ============================== HEADER ============================== */
nav header {
    padding: 24px 24px 50px 24px;
}
nav header .logo-text {
    display: flex;
}
nav header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav header .logo-text .image img {
    width: 40px;
    border-radius: 6px;
}
nav header .logo-text .title {
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    display: flex;
    width: 200px;
    margin-left: 10px;
}
body.light nav header .logo-text .title {
    color: #3c2d2d;
}
nav header .logo-text .subtitle {
    font-size: 1em;
    font-weight: 500;
    color: #c3c2cc;
    display: flex;
    margin-top: -2%;
    margin-left: 10px;
}
body.light nav header .logo-text .subtitle {
    color: #44494e;
}
/* ==================================================================== */





/*============================== SEARCH BAR ============================== */
.search-box {
    border-radius: 10px;
    margin: 0px 14px 0px 14px;
    background-color: #2d353c;
    color: #c3c2cc;
}
.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #2d353c;
    font-size: 1.025em;
    color: #c3c2cc;
    border-radius: 10px;
    margin-right: 22.5px;
}

body.light .search-box {
    background-color: #efeeff;
    color: #2d353c;
}
body.light .search-box input {
    background-color: #efeeff;
    color: #2d353c;
}

.search-box input:hover {
    color: #ffffff;
}
::placeholder {
    color: #c3c2cc;
}
body.light ::placeholder {
    color: #2d353c;
    font-weight: 500;
}
::placeholder:hover {
    color: #ffffff;
}
/* ======================================================================== */





/* ============================== MENU ============================== */
.sidebar li a {
    display: flex;
    color: #ccc2c2;
    text-decoration: none;
}
body.light .sidebar li a {
    color: #2d353c;
}
.sidebar li a:hover {
    color: #ffffff;
}
body.light .sidebar li a:hover {
    color: #ffffff;
}
body.light .sidebar li a:active {
    color: #2d353c;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 14px;
}
.sidebar form li,
.sidebar .menu li,
.sidebar select{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.icon{
    font-size: 1.35em;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-element {
    color: #c3c2cc;
    font-weight: 500;
    border-radius: 10px;
    margin-right: 14px;
}
body.light .nav-element {
    color: #2d353c;
}
.nav-element:hover {
    color: #ffffff;
}
.nav-element a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: -62px;
    padding-left: 62px;
}
.menu .nav-element:hover,
.menu .nav-btn:hover,
.menu #btn-nav:hover {
    background-color: #695cfe;
    color: #ffffff;
    cursor: pointer;
}
body.light .menu .nav-element:hover,
body.light .menu .nav-btn:hover,
body.light .menu #btn-nav:hover {
    background-color: #695cfe;
    color: #ffffff;
    cursor: pointer;
}
.menu .nav-element:active {
    background-color: #41399a;
}
body.light .menu .nav-element:active {
    background-color: #efeeff;
    color: #2d353c;
}
.menu .nav-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-btn,
#btn-nav {
    appearance: none;
    outline: inherit;
    border: none;
    background: none;
    list-style: none;
    cursor: pointer;
    
    color: #c3c2cc;
    font-size: 1em;
    font-weight: 500;
    border-radius: 10px;

    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 50px;
    margin-right: 14px;
}
#bx {
    width: 21px;
    padding: 0 20px;
}
body.light .nav-btn,
body.light #btn-nav {
    color: #2d353c;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: inherit;
    border: none;
    background: none;
    background-color: none;

	color: #c3c2cc;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;

    width: 222px;
    border-radius: 10px;

    margin-left: -61.5px;
    margin-bottom: 10px;

    padding-left: 61.5px;
}
select:hover {
    color: #ffffff;
}
body.light select {
    color: #2d353c;
}
body.light select:hover {
    color: #ffffff;
}
body.light select:active {
    color: #2d353c;
}
select option {
    background-color: #41399a;
    color: #ffffff;
}
body.light select option {
    background-color: #efeeff;
    color: #2d353c;
}
/* ================================================================== */





/* ============================== MAIN-NAV-BOTTOM ============================== */
.nav-bottom {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.btn-paging {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-prev,
.btn-next,
.btn-arrow {
    border: 0;
    color: #c3c2cc;
    border-radius: 500px;
    background-color: #2d353c;
    display: flex;
    align-items: center;
}
body.light .btn-prev,
body.light .btn-next,
body.light .btn-arrow {
    color: #2d353c;
    background-color: #fff;
}
.btn-prev {
    font-size: 1.25em;
    border-radius: 500px 0px 0px 500px;
    padding: 10px 20px 10px 15px;
}
.btn-next {
    font-size: 1.25em;
    border-radius: 0px 500px 500px 0px;
    padding: 10px 15px 10px 20px;
}
.btn-arrow {
    font-size: 2em;
    padding: 10px;
    margin-left: 25px;
}
.btn-prev:hover,
.btn-next:hover,
.btn-arrow:hover {
    color: #ffffff;
    background-color: #695cfe;
    cursor: pointer;
}
body.light .btn-prev:hover,
body.light .btn-next:hover,
body.light .btn-arrow:hover {
    color: #2d353c;
    background-color: #F6F5FF;
}
.btn-prev:active,
.btn-next:active,
.btn-arrow:active {
    background-color: #41399a;
}

/* ============================================================================= */





@media screen and (max-width: 768px){
    /* ============================== BODY ============================== */
    nav {
        position: static;
        padding-bottom: 20px;
        height: 100%;
        border: 0;
        width: 100%;
    }
    main {
        margin: 0px;
    }
    .nav-bottom {
        display: flex;
        flex-direction: column;
    }
    .btn-paging {
        flex-direction: column;
    }
    .btn-prev {
        justify-content: center;
        border-radius: 500px 500px 500px 500px;
        margin-bottom: 10px;
        width: 100%;
    }
    .btn-next {
        justify-content: center;
        border-radius: 500px 500px 500px 500px;
        margin-bottom: 50px;
        width: 100%;
    }
    .btn-arrow {
        justify-content: center;
        margin-left: 0px;
    }

    /* ============================== MENU ============================== */
    
    select {
        width: 90vw;
    }
}
