* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #14171a;
}
body.light {
    background-color: #e4e9f7;
}
main {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
}





/* ============================== SCROLLBAR ============================== */
::-webkit-scrollbar {
    width: 12px;
    background-color: #1d2126;
}
::-webkit-scrollbar-thumb {
    background-color: #c3c2cc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #695cfe;
}
::-webkit-scrollbar-thumb:active {
    background-color: #41399a;
}
/*======================================================================= */
