<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Groupie Tracker</title>
    
    <!----- CSS  ----->
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/overview.css">
    <link rel="stylesheet" href="../static/css/navigation.css">

    <!----- Google Fonts ----->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!----- BOXICON ----->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <!----- FAVICON ----->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
  <nav>
    <header>
        <div class="logo-text">
            <a class="image" href="/">
                <img src="../static/images/logo/mini-logo.png" alt="logo">
            </a>
            <div>
                <span class="title">Tracker</span>
                <span class="subtitle">Ynov Project</span>
            </div>
        </div>
    </header>
    <div class="sidebar">
      <form class="search-box" action="/details"method = "post">
        <li>
          <i class="bx bx-search icon"></i>
          <input class="search" type="text"  placeholder="Search" name="search"  />
        </li>
      </form>
      <ul class="menu">
        <li class="nav-element">
          <i class="bx bx-home-alt icon"></i>
          <a href="/">Home</a>
        </li>
        <li class="nav-element">
          <i class="bx bx-info-circle icon"></i>
          <a href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <main>
    <h1>About</h1>
    
    <h2>What is this ?</h2>
    <p>
      Groupie-Tracker is a student project based on an API. You will have access to information about dozens of different artists, albums, members, dates, etc.
    </p>
    <h2>Who are you ?</h2>
    <p>
      We are students in computer science at Ynov Nantes. Members : <span style="color: #695cfe;">Guillet Evan</span>, <span style="color: #695cfe;">Fuzeau Maxime</span>, <span style="color: #695cfe;">Payraudeau Sulien</span>, <span style="color: #695cfe;">Ngono Abanda Christian</span>.
    </p>
    <h2>Technical stuff ?</h2>
    <p>
      The whole project is coded in <a href="https://go.dev/">Golang</a>, on the backend. We use a <a href="https://groupietrackers.herokuapp.com/api">API</a> specially created for our student project. And we work in groups with
      <a href="https://ytrack.learn.ynov.com/git/gevan/groupie-tracker">Gitea</a>.
    </p> 
    <h2>Who did what ?</h2> 
    <p>
      <span style="color: #695cfe;">Sulien</span>
      : Connection api artist/date/location/relation, search system by name with error management, sorting of dates, link to different media, Spotify balise,
      display of data on the html pages.<br><br>
      <span style="color: #695cfe;">Maxime</span>
      : Html/css, filtering by date of creation/number of artists, filtering by alphabetical order, display of data
      and responsiveness, golang server, html/server link.<br><br>
      <span style="color: #695cfe;">Evan</span>
      : Html/Css, golang server, responsiveness, pagination by number of element 8/16/32, display of
      data on the html page, relation api connection, (true)README.<br><br>
      <span style="color: #695cfe;">Christian</span>
      : (false)README, reflection on pagination, artist api connection (not implemented on the project).<br>
    </p>
    <h2>Copyright ?</h2>
    <p>
      The data and images in the API are used without claim of ownership and belong to their respective owners.
    </p>
  </main>
</body>
</html>
