<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Groupie Tracker</title>

  <!----- CSS ----->
  <link rel="stylesheet" href="../static/css/cards.css">
  <link rel="stylesheet" href="../static/css/overview.css">
  <link rel="stylesheet" href="../static/css/navigation.css">

  <!----- Google Fonts ----->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!----- BOXICON ----->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  
  <!----- FAVICON ----->
  <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/images/favicon/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body class="dark">
  <nav>
    <header>
        <div class="logo-text">
            <a class="image" href="/">
                <img src="../static/images/logo/mini-logo.png" alt="logo">
            </a>
            <div>
                <span class="title">Tracker</span>
                <span class="subtitle">Ynov Project</span>
            </div>
        </div>
    </header>
    <div class="sidebar">
      <form class="search-box" action="/details" method="post">
        <li>
          <i class="bx bx-search icon"></i>
          <input class="search" type="text" placeholder="Search" name="search"/>
        </li>
      </form>
      <ul class="menu">
        <!------------------------- HOME ------------------------->
        <li class="nav-element">
          <i class="bx bx-home-alt icon"></i>
          <a href="/">Home</a>
        </li>
        <!------------------------- ABOUT ------------------------->
        <li class="nav-element">
          <i class="bx bx-info-circle icon"></i>
          <a href="/about">About</a>
        </li>
        <!------------------------- THEME MODE ------------------------->
        <button id="btn-nav" class="btn-toggle"><i id="bx" class="bx bxs-brightness-half"></i><span>Light Mode</span></button>
        <form class="nav-form" method="post" action="/">
          <!------------------------- SORT ------------------------->
          <li class="nav-element">
            <i class="bx bx-sort-alt-2 icon"></i>
            <select name="select-sort" id="sort-mod">
              <option disabled selected>Sort</option>
              <option value="default">Default</option>
              <option value="a-z">A-Z</option>
              <option value="date">Creation date</option>
              <option value="members">Number of members</option>
            </select>
          </li>
          <!------------------------- CARDS ------------------------->
          <li class="nav-element">
            <i class="bx bx-infinite icon"></i>
            <select name="select-items" id="sort-mod">
              <option disabled selected>Cards</option>
              <option value="default">Default</option>
              <option value="4">4 cards</option>
              <option value="13">13 cards</option>
              <option value="26">26 cards</option>
            </select>
          </li>
          <!------------------------- CONFIRM ------------------------->
          <button type="submit" class="nav-btn">
            <i class="bx bx-check icon"></i>
            Confirm
          </button>
        </form>
      </ul>
    </div>
  </nav>
  <main>
    <div>
      <div class="grid-card">
        {{ range $element := .Artist }}
        <form action="/details" method = "post">
          <button class="card" type="submit">
            <button-section class="img-card">
              <img  src={{ $element.Image }} alt="album_cover">
            </button-section>
            <button-section class="txt-card">
              <h4>
                {{ $element.Name }}
              </h4>
              <h5>
                {{ $element.CreationDate}}
              </h5>
            </button-section>
            <input class="more" type="hidden" value={{ $element.Id }} name="data">
          </button>
        </form>      
        {{ end }}
      </div>
      <div class="nav-bottom">
        <div class="btn-paging">
          <form action="/" method = "post">
            <button class="btn-prev" type="submit">
              <input type="hidden" value="prev" name="scroll-artists"><i class="bx bxs-chevron-left"></i>Prev
            </button>
          </form>
          <form action="/" method = "post">
            <button class="btn-next" type="submit">
              <input type="hidden" value="next" name="scroll-artists">Next<i class="bx bxs-chevron-right"></i>
            </button>
          </form> 
        </div>
        <a class="btn-arrow" href="#"><i class="bx bx-up-arrow-alt"></i></a>
      </div>
    </div>
  </main>
</body>
</html>


<!------ JS ------>

<script>
  const btn = document.querySelector(".btn-toggle");

  btn.addEventListener("click", () => {
    console.log("click");
    const body = document.body;

    if (body.classList.contains("light")) {
      body.classList.remove("light");
      body.classList.add("dark");
      btn.innerHTML = "<i id='bx' class='bx bxs-brightness-half'></i><span>Light Mode</span>";
    } else {
      body.classList.remove("dark");
      body.classList.add("light");
      btn.innerHTML = "<i id='bx' class='bx bxs-brightness-half'></i><span>Dark Mode</span>";
    }
  });
</script>
